/*
	Featured Content Slider
	by: Chris Coyier
*/
*	{ margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.6}

					  				  
/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft { 
   float: left; 
   margin-right: 10px;
}
.floatRight	{ 
   float: right; 
}
.clear { 
   clear: both; 
}
a	{ 
   outline: none; 
}


/*
	PAGE STRUCTURE
*/
#page-wrap { 
   width: 1024px; 
   margin: 0 auto; 
   position: relative; 
   min-height: 326px; 
   background: url(../i/scroller_bg.png) top center;
}


/*
	TYPOGRAPHY
*/
ul { list-style: square inside; }
a, a:visited { color: #729dff; text-decoration: none; }
a:hover, a:active	{ color: white; }
blockquote { padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap { 
   width: 1024px; 
   position: absolute; 
   top: 0; 
   left: 0; 
}			
.stripViewer .panelContainer .panel ul	{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								   { position: relative; overflow: hidden; width: 1024px; height: 280px; }
.stripViewer .panelContainer			   { position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel	   { float: left; height: 100%; position: relative; width: 1024px; }
.stripNavL, .stripNavR, .stripNav	   { display: none; }
.nav-thumb 									   { border: 1px solid rgba(255,255,255,0.0125); margin-right: 5px; padding: 2px 6px;}
#movers-row									   { margin: -46px 0 0 94px; }
#movers-row div							   { width: 12.4%; float: left;}
#movers-row div a.cross-link 			   { float: right; }
.photo-meta-data							   { background: url(../i/transpBlack.png); padding: 10px; height: 30px; margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 					   { font-size: 13px; }
.cross-link									   { display: block; width: 102px; margin: -25px 0 0 5px; position: relative; padding-top: 10px; z-index: 9999; }
.active-thumb 								   { background: transparent url(../i/icon-uparrowsmallwhite.png) top center no-repeat; }
.active-thumb .nav-thumb {
   background: rgba(186,221,255,0.1);
   border: 1px solid rgba(255,255,255,0.5);
   -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.info {
   position: absolute;
   top: 30px;
   left: 450px;
   width: 530px;
   color: #ffffff;
}

.info p {
   margin: 0;
   padding: 0;
}

a.button {
   display: block;
   background: #0055b0;
   /* -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; */
   width: 150px;
   padding: 4px 8px;
   margin: 10px 0 0 0;
   text-align: center;
   color: #ffffff;
   -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.1); -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.1); box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
}

a.button:hover {
   background: rgb(172,197,255);
   color: #0055b0;
}

.slider_wrapper > img {
   margin: auto 0;
}

.info img {
   margin: 0 0 20px 0;
}

.caplugs .product  {
   margin: 60px 0 0 90px;
   height: 140px; 
   width: 300px;
}

.fastener_specialty .product {
   margin: 60px 0 0 130px;
   height: 143px; 
   width: 200px;
}

.hirose .product {
   margin: 60px 0 0 130px;
   height: 145px; 
   width: 236px;
}

.honeywell .product {
   margin: 60px 0 0 130px;
   height: 145px; 
   width: 242px;
}

.judd .product {
   margin: 60px 0 0 130px;
   height: 157px; 
   width: 200px;
}

.nelson .product {
   margin: 30px 0 0 130px;
   height: 200px; 
   width: 201px;
}

.nic .product {
   margin: 20px 0 0 130px;
   height: 220px; 
   width: 208px;
}

.power_one .product {
   margin: 80px 0 0 130px;
   height: 123px; 
   width: 277px;
}

.radiall .product {
   margin: 60px 0 0 130px;
   height: 150px; 
   width: 250px;
}

.unipower .product {
   margin: 60px 0 0 80px;
   height: 143px; 
   width: 320px;
}


/*thumbnail images on the front page*/

img.bel_power_sol {
   padding: 17px 3px;
}

img.honeywell {
   padding: 20px 8px;
}
